<!-- example of how to apply static overrides through config file -->

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     <section name="staticOverrides" type="trout.messagequeue.config.staticoverrides.StaticOverrideConfigurationSectionGroup, trout.messagequeue" />
  </configSections>
  <staticOverrides>
    <overrides>
	  <!-- the following prepends "STAGING - " on every subject line, and only sends the emails to someUser@example.com -->
      <add type="trout.messagequeue.queue.overrides.SubjectOverride" doPrepend="true" prepend="STAGING - "></add>
      <add type="trout.messagequeue.queue.overrides.ToOverride" doOverride="True" override="someUser@example.com"></add>
      <add type="trout.messagequeue.queue.overrides.CcOverride" clear="true"></add>
      <add type="trout.messagequeue.queue.overrides.BccOverride" clear="true"></add>
    </overrides>
  </staticOverrides>
</configuration>