<!-- example of how to apply trout config through config file -->
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="troutConfig" type="trout.messagequeue.config.MailMessageSenderConfig, trout.messagequeue" />
  </configSections>
  <troutConfig maxTries="10" fromAddress="donotreply@trout.com" fromName="donotreply" attachmentPath="C:\ProgramFiles\">
  </troutConfig>
</configuration>
